@import './mixins.scss';

$header-color: #6ecdbd;

.profile {
  @include align-vertically;
  padding-top: 120px;
  height: 520px;
  width: 100%;
  background-image: url("../images/cartographer.png");
  background-color: $header-color;
}
.username {
  color: white;
}