@import './mixins.scss';

$primary-text-color: #ffffff;
$accent-font-stack: "Bungee", cursive;

.writeHeader {
  margin: 0;
}

nav {
  height: 120px;
  width: 100vw;
  color: $primary-text-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  position: fixed;
  top: 0;

  h1 {
    font-size: 32px;
    font-family: $accent-font-stack;
  }
  span {
    font-weight: 300;
  }
}

@media only screen and (max-width: 1024px) {
  .title-dark {
    color: rgb(67, 67, 67);
    transition: color 1s ease;
  }
  .title-light {
    color: $primary-text-color;
    transition: color 1s ease;
  }
}

.newTweet {
 @include align-vertically;
}

.fa-angles-down {
  color: red;
}

.fa-angles-down:hover {
  animation: bounce 1.5s ease-in-out infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(15px);
  }
  80% {
    transform: translateY(10px);
  }
}
