.writeHeader {
  margin: 0;
}

nav {
  height: 120px;
  width: 100vw;
  /* background-color: #4056a1; */
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
}
.title {
  font-size: 32px;
}
.title-dark {
  color: rgb(67, 67, 67);
  transition: color 1s ease;
}
.title-light {
  color: #ffffff;
  transition: color 1s ease;
}

nav > span {
  font-family: "Bungee", cursive;
}

.notBold {
  font-weight: 300;
}

.newTweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-angles-down {
  color: red;
}

.fa-angles-down:hover {
  animation: bounce 1.5s ease-in-out infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(15px);
  }
  80% {
    transform: translateY(10px);
  }
}
